@import "tailwindcss";

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* アイコンの色を反転させます */
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* datetime-localのプレースホルダー（テキストとアイコン）を非表示にする */
.datetime-local-placeholder-hidden::-webkit-datetime-edit {
  color: transparent;
}
